.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 777;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    display: flex;
    flex-direction: column;
    min-width: 95vw;
    min-height: 90vh;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 7px 7px 17px 7px rgba(0,0,0,0.75);
    background-image: linear-gradient(35deg, teal, orange);
    animation: popup 1s ease-in-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
  }

  &__name {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    color: floralwhite;
  }

  &__input {
    margin: 7px 4px;
    height: 34px;
    border-radius: 4px;
  }

  &__txa {
    margin: 7px 4px;
    border-radius: 4px;
  }

  &__btn {
    border: 2px solid teal;
    text-transform: uppercase;
    border-radius: 6px;
    margin: 8px 4px;
    width: fit-content;
    background-color: white;
    padding: 5px 8px;
    opacity: 0.8;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      opacity: 1;
      box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75);
    }
  }

  &__close {
    color: floralwhite;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 4px;

    &:hover {
      color: darkslategray;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__label {
    // text-align: center;
    color: floralwhite;
    padding: 4px;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.8;
  }
}

@keyframes popup {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}