.post {
  border: 2px solid teal;
  padding: 18px;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &-title {
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: underline;
  }
}
