.search {
  display: flex;
  margin: 24px 0;
  padding: 8px;

  &-input {
    border-radius: 4px;
    padding: 5px;
    width: 250px;
  }

  &-btn {
    margin-left: 6px;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.create-btn {
  margin-left: 8px;
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  background-color: skyblue;
  cursor: pointer;
}